services:
  server:
    build:
      context: apps/server
      dockerfile: Dockerfile

    environment:
      NODE_ENV: production
      PORT: 3000
      LOG_LEVEL: info
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/sveltemmerce

    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - postgres

  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sveltemmerce
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always

volumes:
  postgres:
