services:
  server:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    command: sh scripts/wait-until-db-ready.sh

    environment:
      NODE_ENV: production
      PORT: 3000
      LOG_LEVEL: info
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/sveltemmerce
      DB_HOST: postgres
      DB_PORT: 5432
      DB_USER: postgres

    ports:
      - "3000:3000"
    restart: always
    volumes:
      - ./apps/api:/app/apps/api
      - ./node_modules:/app/node_modules
    depends_on:
      - postgres

  postgres:
    image: postgres:17-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: sveltemmerce
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: always

volumes:
  postgres:
